NODE_ENV=dev
DATABASE_CON=postgres
HOST=localhost
PORT=5432
DATABASE_NAME=bomanejo
USER_NAME=postgres
PASSWORD=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
MAILTRAP_USER=
MAILTRAP_PWD=
GMAIL_USER=
GMAIL_PWD=

#Prisma Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bomanejo?schema=public"